/* 
-------------------------------------------------
---------------- General styling ---------------- 
-------------------------------------------------
*/
@import url("base/reset.css");
@import url("components/nav.css");
@import url("components/hero.css");
@import url("components/subtext.css");
@import url("components/graphic.css");
@import url("components/image-row.css");
@import url("components/newsletter.css");
@import url("components/social.css");
@import url("components/footer.css");
@import url("components/get_the_app_card.css"); /* used for donation card too*/

/* 
-------------------------------------------------
------------- Page-specific styling ------------- 
-------------------------------------------------
*/

/* HOME */ 
@import url("pages/home.css");

/* APP */
@import url("components/feature_slider.css");
@import url("components/problems_solutions.css");
@import url("pages/app.css");

/* FOODX100 */
@import url("pages/foodx100.css");

/* FOODX MY COMMUNITY */
@import url("pages/my_foodx_community.css");

/* COOK */
@import url("pages/cook.css");

/* JOIN US */
@import url("pages/join.css");

/* MEMBERSHIPS */
@import url("pages/sign-m1.css");

/* MISC */
@import url("pages/contact.css");
@import url("pages/donation.css");
@import url("pages/about-us.css");
@import url("pages/articles.css");
@import url("pages/privacy_policy.css");
@import url("pages/cookies.css");
@import url("pages/business.css");
