@import url("base/reset.css");

@import url("components/nav.css");
@import url("components/hero.css");
@import url("components/subtext.css");
@import url("components/graphic.css");
@import url("components/image-row.css");
@import url("components/newsletter.css");
@import url("components/social.css");
@import url("components/footer.css");

/* 
-------------------------------------------------
------------- Page-specific styling ------------- 
-------------------------------------------------
*/

/* HOME */ 
@import url("pages/home.css");


/* THE APP */
@import url("components/feature_slider.css");
@import url("components/problems_solutions.css");
@import url("components/get_the_app_card.css");
@import url("pages/app.css");

/* JOIN US */
