.main-footer {
    font-size: 0.8rem;
    padding: 20px 50px 50px;
    background: black;
    color: white;
}

.footer-left {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
}

.main-footer .container a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

.main-footer .container a:hover {
    color: #73FF00;
}

.main-footer .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    background: white;
    border-radius: 50%;
    margin: 2px 5px;
}
