.hero-section {
    background-color: #004000;
    overflow: visible;
    height: 150px; 
    align-items: center;
    margin-bottom: 50px;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.hero-left img {
    width: 140px;
    height: 140px;
}
.hero-left h1 {
    margin: 0;
    line-height: 0.9;
}
/* .hero-left .small-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
} */
.hero-left .big-title {
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
    margin-top: 45px;
}
.hero-right {
    margin-bottom: 10px;
    text-align: right;
    max-width: 600px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.hero-right img {
    width: 50px;
    height: 50px;
    color: white;
}
.hero-right p {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
}
/* Home page only layout */
.hero-right .hero-home {
    margin-bottom: 26px;
    display: flex;
    text-align: right;
    max-width: 600px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.hero-right .hero-home img {
    width: 40px;
    height: 40px;
    color: white;
}
.hero-right .hero-home p {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
}