.hero-section {
    background: linear-gradient(
        180deg,
        #004000 0%,
        #F5F5F7 100%
    );
    padding: 60px 50px;
    overflow: visible;
    height: 150px; 
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-left h1 {
    margin: 0;
    line-height: 0.9;
}

.hero-left .small-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.hero-left .big-title {
    color: white;
    font-size: 80px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}

.sticky-note p {
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #FEE785;
    padding: 20px 20px;
    display: flex;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
    font-family: "Inter", sans-serif;
}

.hero-right {
    margin-bottom: 10px;
    text-align: right;
    max-width: 600px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.hero-right img {
    width: 40px;
    height: 40px;
    color: white;
}

.hero-right p {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
}