/* -------- GLOBAL STYLE -------- */

.row-content {
    background-color: #F5F5F7;
    display: flex;
    gap: 10px;      
    margin: 20px 10px 40px 10px;
    font-family: "Inter", sans-serif;
}

.image-card {
    background: white;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------- HORIZONTAL SCROLL UTILITY -------- */
.scroll-x {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 20px;
}

.scroll-x > * {
    scroll-snap-align: start;
    flex: 0 0 auto;
}

/* -------- TESTIMONIALS -------- */
.testimonials {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.testimonial-header h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #004000
}

.highlight {
    color: #FFB933;
}

.testimonial-header p {
    color: #004000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    font-family: "IBM Plex Mono", monospace;
}

.testimonial-card {
    background: white;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    white-space: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-card p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.author {
    font-weight: 700;
    color: #1e4d22;
    font-size: 20px;
}

/* -------- IMAGE SLIDESHOW SECTION -------- */
.slideshow {
    margin-left: 40px;
}

.slideshow .image-card {
    width: 410px;
    height: 410px;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
}
