.newsletter-section {
    position: relative;
    background: black;
    color: white;
    padding: 20px 50px;
    font-family: "Inter", sans-serif;
    overflow: hidden;
    display: flow-root;
}

.newsletter-section a {
    display: block;
    color: #FFB300;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.newsletter-section a:hover {
    color: #73FF00;
}

.newsletter-section *::selection {
    background: #333;     /* same black-ish so no leak is visible */
    color: white;
}
