.problems-solutions-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 40px 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    overflow: visible;
}

.problems-solutions-card {
    position: relative;
    background: white;
    width: 220px;
    height: 220px;
    padding: 24px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 18px rgba(0,0,0,0.10);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    transition: transform 0.25s ease;
}

.problems-solutions-card:hover {
    background: #003F00;
    transform: scale(1.02);
}



/* ICONS */
.problems-solutions-card .icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;   /* adjust to taste */
    transition: opacity 0.25s ease;
}

.label-problem,
.problem-icon {
    opacity: 1;
}

.label-solution,
.solution-icon {
    opacity: 0;
}

/* LABEL */
.label-problem,
.label-solution {
    position: absolute;
    bottom: 110px;   /* adjust to taste */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.35;
    text-align: center;
    transition: opacity 0.25s ease, color 0.25s ease;
}

.label-problem {
    opacity: 1;
    color: #0A2F0A;
}

.label-solution {
    opacity: 0;
    color: white;
}

/* TEXT */
.problem-text,
.solution-text {
    position: absolute;
    bottom: 50px;   /* adjust to taste */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    transition: opacity 0.25s ease, color 0.25s ease;
}


.problem-text {
    opacity: 1;
    color: #0A2F0A;
}

.solution-text {
    opacity: 0;
    color: white;
}

/* HOVER STATE */
.problems-solutions-card:hover {
    background: #003F00;
    /* transform: translateY(-4px); */
}

/* Swap labels */
.problems-solutions-card:hover .label-problem { opacity: 0; }
.problems-solutions-card:hover .label-solution { opacity: 1; }

/* Swap icons */
.problems-solutions-card:hover .problem-icon { opacity: 0; }
.problems-solutions-card:hover .solution-icon { opacity: 1; filter: drop-shadow(0 0 8px #73FF00); }

/* Swap text */
.problems-solutions-card:hover .problem-text { opacity: 0; }
.problems-solutions-card:hover .solution-text { opacity: 1; }