.subtext {
    background: #F5F5F7;
    padding: 0px 50px;
}

.subtext h2 {
    color: #FFB300;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
}

.subtext p {
    color: #004000;
    margin-bottom: 40px;
    font-family: "Work Sans", sans-serif;
}