/* /////// HERO ABOUT /////// */
.hero-section-about {
    height: 150px;
}

.hero-section-about .hero-right {
    margin-bottom: 10px;
    text-align: right;
    max-width: 600px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.hero-section-about .hero-right img {
    width: 40px;
    height: 40px;
    color: white;
}

.hero-section-about .hero-right p {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
}

/* /////// MEET THE FOUNDERS /////// */

.founders {
    margin-left: 50px;
    margin-right: 50px;
    color: #004000
}

.founders .container h2{
    font-family: "Inter", sans-serif;
    font-size: 32px;
}

.founders .coloured-orange {
    color: #FFB300;
}

.founders img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
} 

.founders-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.founders .founders-row .fiona img{
    align-items: center;
}

.about-us-text-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.founder-card {
    background: white;
    border-radius: 25px;
    padding: 40px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
}

.founder-card p {
    margin: 5px 0;   
    line-height: 1.4;
} 

/* /////// HISTORY & MISSION /////// */
.history,
.mission-vision {
    flex: 1;
    max-width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    color: #004000;
}

.history h2,
.mission-vision h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #004000;
}

/* /////// VALUE CARDS /////// */
.values-grid {
    justify-content: space-between;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    gap: 20px;
}

.value-card {
    justify-content: center;
    background: #004000;
    border-radius: 25px;
    padding: 0px;
    width: 100%;
    height: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value-card img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0 0 10px #73FF00)
}

.value-card p {
    margin-bottom: 0px;
    color: white;
    line-height: 1.5;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
}

.history span,
.mission-vision span {
    color: #FFB300; 
    font-weight: 700;
}
