.article .container {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.article .container .row {
    text-align: justify;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.article .container h2 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
}

.article .container h2 span {
    color: #FFB300;
}

.article .container .row-right {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    width: 50%; 
}

.article .container .row-left {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    width: 50%; 
}

/* IMAGE */
.row-right .article-image {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
    width: 100%;
    height: 350px; 
    background-image: url("assets/images/your-image.jpg");
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-right .article-image p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;    
    margin: 0;                 
}

