/* DONATION FORM */
.donation h2{
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 200px;
}
/* Donate button */
.donation-box {
    height: 500px;
    margin: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    justify-content: space-between;
    display: flex; 
    flex-direction: column;
    align-items: center;
}