/* /////// HERO HOME /////// */
.hero-section-home .hero-left img {
    height: 104px;
    scale: 1.5;
    width: auto;
    margin-top: 0; 
    margin-left: 25px;
}

.hero-section-home {
    height: 150px;
}

.hero-section-home .hero-right {
    margin-bottom: 10px;
    text-align: right;
    max-width: 600px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.hero-section-home .hero-right img {
    width: 40px;
    height: 40px;
    color: white;
}

.hero-section-home .hero-right p {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
}

/* /////// TRADE EAT LIVE /////// */
.trade-eat-live {
    line-height: 1.2;
    margin-bottom: 50px;
    padding-left: 50px;
}

.thats-why-foodX-exists p{
    margin-bottom: 50px;
}

.trade-eat-live h2 {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    color: #004000;
    margin-bottom: 0px;
}

.trade-eat-live p {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    color: #004000;
}

.brand-orange {
    color: #FFB300;
}

/* ////////////// MAIN CARDS ////////////// */
/* /////// MAIN CARDS (MATCH VALUE CARDS EXACTLY) /////// */
.home-main-card .image-card {
    background: #004000;
    height: 300px;
    gap: 20px;
    max-width: 100%;  
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-right: 15px;
}

/* ICON */
.home-main-card .image-card img {
    width: 50px;
    height: 50px;
    object-fit: contain; 
    margin-top: 100px;
}

.home-main-card .image-card h1 {
    margin-bottom: 120px;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* HOVER CARD FUNCTIONALITY*/
.home-main-card .card-link,
.home-main-card .card-link h1,
.home-main-card .card-link:hover,
.home-main-card .card-link h1:hover {
    text-decoration: none !important;
}

/* Icon glow when hovering the entire card */
.home-main-card .card-link:hover .image-card img {
    filter: drop-shadow(0 0 12px #73FF00);
    transition: filter 0.25s ease;
}

.home-main-card .card-link {
    display: block;
    transform: scale(1);
    transition: transform 0.25s ease, color 0.25s ease;
}

.home-main-card .card-link:hover {
    transform: scale(1.01);
}

.home-main-card .card-link:hover .image-card {
    background-color: #004000;
    transition: background-color 0.25s ease;
}