/* /////// HERO HOME /////// */
.hero-section-home .hero-left img {
    height: 100px;
    scale: 1.5;
    width: auto;
    margin-top: -10px; 
    margin-left: 25px;
}

.hero-section-home {
    height: 150px;
}

.hero-section-home .hero-right {
    margin-top: -8px;
    text-align: right;
    max-width: 600px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.hero-section-home .hero-right img {
    width: 40px;
    height: 40px;
    color: white;
}

.hero-section-home .hero-right p {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
}

/* /////// TRADE EAT LIVE /////// */
.trade-eat-live {
    line-height: 1.2;
    margin-bottom: 50px;
    padding-left: 50px;
}

.thats-why-foodX-exists p{
    margin-bottom: 50px;
}

.trade-eat-live h2 {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    color: #004000;
    margin-bottom: 0px;
}

.trade-eat-live p {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    color: #004000;
}

.brand-orange {
    color: #FFB300;
}

/* PAGE / SECTION */
.main-text-home {
    margin-right: 50px;
    margin-left: 50px;
}

/* LAYOUT */
.main-text-home .container-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* HEADER TEXT */
.main-text-home h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: #004000;
}

.main-text-home > .container > p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    color: #004000;
    padding-bottom: 20px;
}

/* /////// CARDS /////// */
.main-text-home .main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 350px;
    background-color: #004000;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* MAKE <a> BE THE LAYOUT HOLDER */
.main-text-home .card-link {
    display: block;
    width: 33.33%;
    text-decoration: none;
}

/* ICON */
.main-text-home .main-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-top: 110px;
}

/* TEXT INSIDE CARD */
.main-text-home .main-card h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.main-text-home .main-card p {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}


/* HOVER EFFECTS */
.main-text-home .card-link:hover .main-card img {
    filter: drop-shadow(0 0 8px #73FF00);
    transition: filter 0.25s ease;
}

.main-text-home .card-link:hover {
    transform: scale(1.01);
    transition: transform 0.25s ease;
}

.main-text-home .card-link:hover .main-card {
    background-color: #005000;
    transition: background-color 0.25s ease;
}

.orange-text {
    color: #FFB300;
}