/* ------------------------------------------
-------------- HEADER: JOIN US 
---------------------------------------------*/
.join-us {
    line-height: 1.2;
    margin-bottom: 40px;
    padding-left: 50px;
    margin-bottom: 100px;
}
.join-us h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #004000;
    margin-bottom: 0px;
}
.join-us p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
    color: #004000;
}

/* ------------------------------------------
-------------- MEMBERSHIP OPTIONS 
---------------------------------------------*/
.membership-options {
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}
.membership-options h2 {
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #004000;
    text-align: center;
    margin-bottom: 20px;
}
.membership-options p {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    color: #004000;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
}
.membership-row {
    display: flex;
    gap: 20px;
}
.membership-wrapper {
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
}
.card-link {
    text-decoration: none;
}
/* membership boxes */
.membership-box {
    height: 320px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.card-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.membership-box h1,
.membership-box h2,
.membership-box .cost,
.membership-box p {
    margin: 0;
    padding: 0;
}
.card-content img {
    width: 40px;
    height: 40px;
    color: #004000
}
.card-content .bigger-image  img{
    width: 50px;
    height: 50px;
    color: #004000;
    margin-bottom: -10px;
}
.card-content h1 {
    height: 30px;
    margin-top: 20px;
    margin-bottom: -5px;
    text-align: center;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #004000
}
.card-content h2 {
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #004000
}
.card-content .cost {
    height: 40px;
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #004000
}

.card-content p {
    margin-top: 5px;
    height: 170px;
    text-align: center;
    font-size: 17px;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    color: #004000;
    line-height: 1.4;
}
.card-content .bigger-cost {
    font-size: 25px;
    color: #ffb300;
    font-weight: 500;
}
/* Hover */
.membership-wrapper a:hover .membership-box {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0,0,0,0.35);
}


/* ------------------------------------------
------------- HEADER: SUPPORT 
---------------------------------------------*/
.supporter {
    margin-top: 100px;
    height: 500px;
    line-height: 1.2;
    padding-left: 50px;
    text-align: center;
    background-color: #004000;
    line-height: 1.2;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.supporter h2 {
    font-size: 35px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: white;
}
.supporter p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
    color: white;
}
.card-content .supporter-benefits{
    justify-items: center;
}
.card-content .supporter-benefits p {
    text-align: left;
}
.supporter .supporter-benefits{
    justify-items: center;
}
.supporter .supporter-benefits p{
    text-align: left;
}
/* Button */
.supporter-button-box {
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.supporter-button-box p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #004000;
    text-decoration: none;
}
.support-btn {
    display: inline-block;
    background: #ffffff;
    color: #004000;
    padding: 18px 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 20px;
}
.support-btn:hover {
    background: #ffffff;
    color: #004000;
}
