/* ------------------------------------------
-------- HEADER: CONNECT WITH OTHERS
---------------------------------------------*/
.connect-with-others {
    line-height: 1.2;
}
.connect-with-others h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #004000;
    margin-bottom: 0px;
}
.connect-with-others p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
    color: #004000;
}
/* Page / Section */
.main-text-home {
    margin-right: 50px;
    margin-left: 50px;
}
.welcome-text {
    font-weight: 600;
}
.connect-with-others .neighbourhood-text h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #004000;
    margin-top: 100px;
    margin-bottom: -50px;
}
/* ------------------------------------------
------------- MY NEIGHBOURHOOD
---------------------------------------------*/
.map-feature {
    display: flex;
    flex-direction: row;
}
.row-inner {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
/* Right */
.map-feature-right .row-inner h2 {
    color: #ffb300;
}
.map-feature-right {
    margin-left: 30px;
    margin-top: 100px;
}
.map-feature-right .row-inner img {
    width: 60px;
    height: 60px;
    color: #004000;
    margin-right: 20px;
    
}
.map-feature-right .row-inner h2 {
    color: #ffb300;
    margin-top: 10px;
}
.map-feature-right h2 {
    margin-top: -30px;
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #004000;
}
.map-feature-right p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
    color: #004000;
}
/* Left */
/* position wrapper */
.neighbourhood-wrapper {
    position: relative;
    width: 750px;
    height: 480px;
    margin: 100px 0 100px 0;
    /* border: 2px solid red; */
}
/* map */
.map-image {
    width: 260px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}
/* bubbles */
.map-bubble {
    position: absolute;
    background: white;
    padding: 10px 18px;
    border-radius: 50px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    font-weight: 600;
    color: #004000;
    width: fit-content;
}
/* left */
.bubble-left-0 { top: 0%;  right: 61%; background-color: #ffb300; color: white }
.bubble-left-1 { top: 9%;  right: 66%; background-color: white; color: #004000 }
.bubble-left-2 { top: 18%; right: 70.5%; background-color: white; color: #004000 }
.bubble-left-3 { top: 27%; right: 72.5%; background-color: white; color: #004000 }
.bubble-left-4 { top: 36%; right: 74%; background-color: white; color: #004000 }
.bubble-left-5 { top: 45%; right: 75%; background-color: white; color: #004000 }
.bubble-left-6 { top: 54%; right: 75%; background-color: white; color: #004000 }
.bubble-left-7 { top: 63%; right: 74%; background-color: white; color: #004000 }
.bubble-left-8 { top: 72%; right: 72%; background-color: white; color: #004000 }
/* right */
.bubble-right-0 { top: 20%; left: 68%; background-color: #004000; color: white }
.bubble-right-1 { top: 29%; left: 69.5%; background-color: white; color: #004000 }
.bubble-right-2 { top: 38%; left: 70.5%; background-color: white; color: #004000 }
.bubble-right-3 { top: 47%; left: 71%; background-color: white; color: #004000 }
.bubble-right-4 { top: 56%; left: 70.5%; background-color: white; color: #004000 }
.bubble-right-5 { top: 65%; left: 69%; background-color: white; color: #004000 }
.bubble-right-6 { top: 74%; left: 66%; background-color: white; color: #004000 }
.bubble-right-7 { top: 83%; left: 63%; background-color: white; color: #004000 }
/* Button: Try my neighbourhood */
.try-map {
    margin-top: 0px;
    margin-bottom: 45px;
    display: flex;
}
.try-map-btn p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #004000;
    text-decoration: none;
    justify-content: center;   
}
.try-map-btn {
    background-color: #004000;
    border-radius: 50px;
    padding: 15px 35px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;  
    text-align: center; 
    margin-top: 20px;
}
.try-map-btn:hover {
    background: #004000;
    color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* ------------------------------------------
---------------- MY GROUPS
---------------------------------------------*/
.group-text h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #004000;
    margin-bottom: 50px;
}
.groups-graphic-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.groups-row {
    display: flex;
    flex-direction: row;
}
.groups-column {
    display: flex;
    flex-direction: column;
}
/* Right */
.groups-feature-right .row-inner h2 {
    color: #ffb300;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #004000;
}
.groups-feature-right {
    margin-top: 50px;
    margin-left: 60px;
}
.groups-feature-right h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    color: #004000;
    margin-top: -40px;
}
.groups-feature-right .row-inner {
    display: flex;
}
.groups-feature-right .row-inner img {
    width: 60px;
    height: 60px;
    color: #004000;
    margin-right: 30px;
    margin-top: 5px;
}
.groups-feature-right .row-inner h2 {
    color: #ffb300
}
.groups-feature-right p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
    color: #004000;
}
/* Left */
/* position wrapper */
.groups-wrapper {
    position: relative;
    width: 680px;
    height: 480px;
    margin: 100px 0 100px 0;
    text-align: center;
    align-items: center;
    /* border: 2px solid red; */
}
.groups-wrapper p {
    margin-top: 210px;
}
/* Left */
.groups-box {
    margin-bottom: 100px;
    width: 680px;
    height: 400px;
    background: white;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    color: #004000;
    font-size: 20px;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
}
.groups-box {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.groups-box p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Work Sans", sans-serif;
}
/* Button: Try my groups */
.try-groups {
    margin-top: 0px;
    margin-bottom: 45px;
    display: flex;
}
.try-groups-btn p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #004000;
    text-decoration: none;
    justify-content: center;   
}
.try-groups-btn {
    background-color: #004000;
    border-radius: 50px;
    padding: 15px 35px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;  
    text-align: center; 
    margin-top: 20px;
}
.try-groups-btn:hover {
    background: #004000;
    color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
