/* ------------------------------------------
---- HERO (ADJUSTMENT FROM MAIN COMPONENT) 
---------------------------------------------*/
.hero-section-app .hero-right  {
    margin-top: -50px !important;
}